<h1> <%= @user.name.titleize %> Songs </h1>
<% if @any_songs %>
  <% @my_songs.each do |song| %>
    <div><%= format_song(song) %></div>
  <% end %>
<% else %>
  <div> No Songs for this band </div> 
<% end %>
<div> <%= link_to "See other bands", users_path %> </div>
