<h1> <%= @user.name.titleize %> Songs </h1>
<% if @any_songs %>
  <h2 class="play_song">Play Song</h2>
  <section id="audio">
  </section>
  <table class="song_index">
    <thead>
      <th>Songs</th>
    </thead>
    <tbody>
      <% @songs.each do |song| %>
        <tr>
          <% if @uploaded_songs.include? song.title + '.mp3' %>
            <td><%= link_to song.title, url_for_song(@user, song), 
                                                        class: "html5" %></td>
          <% else %>
            <td><%= song.title %></td>
          <% end %>
        <tr>
    </tbody>
<% end %>
  </table>
<% else %>
  <div> No Songs for this band </div> 
<% end %>
<div> <%= link_to "See other bands", users_path, class: 'links' %> </div>
