@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  text-align: center; 
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1 {
  font-size: 3em;
  letter-spacing: -3px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  text-align: center; 
}

p {
  text-align: center; 
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  boarder: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

/* tables */

table, tr {
  width: 30%;
  border-bottom: 1px solid gray;
}

th {
  border-bottom: 2px solid #000;
}

td {
  border-bottom: 1px solid gray;
}

.song_index {
  width: 10%;
  height: 10%;
}

table, th, td {
  margin-left: auto;
  margin-right: auto;
}

/* links */

.links, .html5 {
  color: #36454f;
  font-weight: 700; 
  letter-spacing: -1px;
}

#bands {
  color: #0073cf;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 150%;
}
